body {
    background: rgb(154, 0, 154);
   
}

.header {
    background-color: rgb(220, 9, 230);
    color: white;
    padding: 5px 10px;
}

.footer {
    background-color: rgb(186, 30, 167);
    padding: 6px;
    clear: both;
}
