body {
    background: rgb(225, 220, 20);
   
}

.header {
    background-color: rgb(136, 189, 36);
    color: white;
    padding: 5px 10px;
}

.footer {
    background-color: rgb(186, 222, 137);
    padding: 6px;
    clear: both;
}
